body {
  margin: 0;
  background-color: #333333;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF; }

header {
  top: 0;
  z-index: 5;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 10px; }

#playerOneScore h1,
#playerTwoScore h1,
#winner h1 {
  font-weight: 100; }

#playerOneScore h1 span,
#playerTwoScore h1 span,
#winner h1 span {
  font-weight: 600; }

#winner {
  display: none; }

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#menu #container {
  height: 140px;
  width: 664px;
  text-align: center; }

#menu #container nav ul {
  list-style-type: none;
  margin-top: 30px; }

#menu #container ul li:first-child {
  margin-left: 0px; }

#menu #container ul li {
  display: inline;
  margin-left: 30px; }

#menu #container ul li a {
  color: #fff;
  background: #444;
  padding: 11px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 13px; }

#menu #container ul li a:hover {
  background: #666; }

#menu #container ul li:last-child {
  display: none; }

#gameTable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

#gameTable section#one,
#gameTable section#two,
#gameTable section#three {
  height: 33.3333333%;
  display: flex; }

#gameTable section#one section.playerOne,
#gameTable section#two section.playerOne,
#gameTable section#three section.playerOne {
  background: #3B596A; }

#gameTable section#two section.playerTwo,
#gameTable section#one section.playerTwo,
#gameTable section#three section.playerTwo {
  background: #3F9A82; }

#gameTable section#one section.playerOne,
#gameTable section#three section.playerOne,
#gameTable section#two section.playerTwo {
  margin-right: auto; }

#gameTable section#two section.playerOne,
#gameTable section#one section.playerTwo,
#gameTable section#three section.playerTwo {
  margin-left: auto; }

#gameTable section#one section.playerOne {
  width: 1%; }

#gameTable section#one section.playerTwo {
  width: 1%; }

#gameTable section#two section.playerTwo {
  width: 1%; }

#gameTable section#two section.playerOne {
  width: 1%; }

#gameTable section#three section.playerOne {
  width: 1%; }

#gameTable section#three section.playerTwo {
  width: 1%; }
