//output: ../index.html, pretty:true
doctype html
html(lang="en")
  head
    title= WIDTH
    link(rel="stylesheet", type="text/css", href="css/tools/normalize.css")
    link(rel="stylesheet", type="text/css", href="css/tools/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="css/master.css")
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script.
      $(document).ready(function () { $('body').hide().fadeIn(2500).delay(6000)});
  body
    header
      #playerOneScore
        h1 
          span#oneTotalHits 
          i.fa.fa-male.fa-lg
          |  left  
          span#OneScore  
      #winner
        h1#theWinnerIs 
      #playerTwoScore
        h1 
          span#TwoScore
          |  right   
          i.fa.fa-male.fa-lg
          span#twoTotalHits  
    #menu
      #container
        #logo
          img(src="img/logo.png", alt="Logo")
          h3#slogan < Who can take over the screen >
        nav
          ul
            li
              a#rules(href="#") Rules 
            li
              a#play(href="#") Play
              audio#beep-one(preload='auto')
                source(src='sound/mouseclik.wav', controls='')
                | Your browser isn't invited for super fun audio time.
              script.
                var beepOne = $("#beep-one")[0];
                $("a")
                .mouseenter(function() {
                beepOne.play();
                });
            li
              a#replay(href="#") Replay
    #gameTable
      section#one
        section.playerOne
      section#two
        section.playerTwo
      section#three
        section.playerOne
      section#four
        section.playerTwo  
      section#five
        section.playerOne
      section#six
        section.playerTwo
    footer
      p 
        span Left Press:
        |  J 
      p 
        span New Game:
        |  Space
      p 
        span Right Press:
        |  F  
  script(type="text/javascript", src="js/main.js")
