//output: ../index.html, pretty:true
doctype html
html(lang="en")
  head
    title= WIDTH
    link(rel="stylesheet", type="text/css", href="css/tools/normalize.css")
    link(rel="stylesheet", type="text/css", href="css/tools/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="css/master.css")  
  body
    header
      #playerOneScore
        h1 
          i.fa.fa-female.fa-lg
          |  left  
          span#OneScore 
      #winner
        h1 player
          span left 
          | won
      #playerTwoScore
        h1 
          span#TwoScore
          |  right   
          i.fa.fa-male.fa-lg
    #menu
      #container
        #logo
          img(src="img/logo.png", alt="Logo")
        nav
          ul
            li
              a#rules(href="#") Rules 
            li
              a#play(href="#") Play
            li
              a#replay(href="#") Replay
    #gameTable
      section#one
        section.playerOne
      section#two
        section.playerTwo
      section#three
        section.playerOne
      section#four
        section.playerTwo  
      section#five
        section.playerOne
      section#six
        section.playerTwo
        
  script(type="text/javascript", src="js/main.js")
